.PopupItemDiv{
    width:250px;
}

.CommonEraOptionDiv{
    display: flex;
    align-items: center;
}

.MenuTitle{
    font-weight: bold;
}


a.disabledLink{
    pointer-events: none; 
    color:lightgray;
}

.editorPopup {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 0 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:1000px;
    height:50%;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    z-index: 9999;
}

.editorLeftColumn {
    display: flex;
    flex:1;
    flex-direction: column;
    overflow-y: hidden;
}

.editorBottomBar {
    margin-top: 10px;
}

.editorPopup-close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.editorPopup-close:hover {
    color: #666;
}

.editorPopup-input {
    display: flex;
    flex:1;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize:none;
}

.editorPopup-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
    text-decoration: none;
}

.popup-link:hover {
    color: #333;
}

.fadedRow {
    opacity: 0.3;
    
}


.wikitextPopup {
    position: fixed;
    display: flex;

    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 0 20px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:90%;
    height:60%;
    max-width: 100%;
    max-height: 80%;
    overflow: hidden;
    z-index: 9999;
}



.wikitextPopup-textarea{
    height:90%
}

.defaultPopup {
    position: fixed;
    display: block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bc-editing-y{
    background-color: green;
    color: white;
}

.bc-editing-i{
    background-color: pink;
}

.bc-editing-y1{
    background-color: gainsboro;
}

.bc-editing-y2{
    background-color: lightslategray;
    color: white;
}

.bc-editing-d{
    background-color: olive;
    color: white;
}

.bc-editing-sd{
    background-color: navy;
    color: white;
}

.bc-editing-dp{
    background-color: peachPuff;
}

.bc-editing-c{
    background-color: orange;
}

.bc-editing-00s{
    background-color: coral;
}

.bc-editing-m{
    background-color: darkcyan;
    color: white;
}

.bc-editing-000s{
    background-color: blueViolet;
}

.bc-editing-r{
    background-color: brown;
    color: white;
}

.bc-editing-tn{
    background-color: aqua;
}

.bc-editing-ot{
    background-color: lime;
}

.bc-editing-at{
    background-color: thistle;
}


.bc-editing-ig{
    background-color: dimgray;
    color: white;

}

.wikitextPopupLeftColumn{
    display: flex;
    flex:1;
    flex-direction: column;
}

.sidebarWithDates{
    display: flex;
    overflow-y:scroll;
    overflow-x: hidden;
    width:450px;
    height: 95%;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.sideListRow {
    display:flex;
    width: 350px;
    height: 40px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}


.templateNameSpan{
    margin-top: 20px;
    margin-bottom: 5px;
    color:red;
}



.sideListExclamation{
    display: flex;
    color:red;
    font-weight: bold;
}

.sideListTextContainer{
    display: flex;
    flex:1;
    justify-content: center;
    align-items: center;
}

.wikiWarning{
    color:red;
    margin-bottom: 10px;
}

.wikitextPopupBottomBar{
    margin-top: 10px;
}


.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    z-index: 10000;
    transition: opacity 0.3s ease-in-out; 
  }
  
 

  .pageInfoPopup {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px 0 20px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:400px;
    height:50%;
    max-width: 80%;
    max-height: 80%;
    overflow: hidden;
    z-index: 9999;
}


.hidden {
    display: none;
}