.PopupItemDiv{
    width:250px;
}

.MenuTitle{
    font-weight: bold;
}


a.disabledLink{
    pointer-events: none; 
    color:lightgray;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:500px;
    height:400px;
    max-width: 80%;
    max-height: 80%;
    overflow: auto;
    z-index: 9999;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #999;
    text-decoration: none;
    cursor: pointer;
}

.popup-close:hover {
    color: #666;
}

.popup-input {
    width: 100%;
    height: 290px;
    padding: 10px;
    margin-top: 20px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: vertical;
}

.popup-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #666;
    text-decoration: none;
}

.popup-link:hover {
    color: #333;
}



.wikitextPopup {
    position: fixed;
    display: flex;

    bottom: 20px;
    left: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    width:90%;
    height:60%;
    max-width: 100%;
    max-height: 80%;
    overflow: auto;
    z-index: 9999;
}

.sidebarWithDates{
    display: flex;
    overflow-y:scroll;
    width:400px;
    flex-direction: column;
    align-items: center;
}

.wikitextPopup-textarea{
    height:90%
}

.defaultPopup {
    position: fixed;
    display: block;
    top: 5%;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.bc-y{
    background-color: green;
    color: white;
}

.bc-i{
    background-color: pink;
}

.bc-y1{
    background-color: gainsboro;
}

.bc-y2{
    background-color: lightslategray;
    color: white;
}

.bc-d{
    background-color: olive;
    color: white;
}

.bc-c{
    background-color: orange;
}

.bc-00s{
    background-color: coral;
}

.bc-m{
    background-color: darkcyan;
    color: white;
}

.bc-000s{
    background-color: blueViolet;
}

.bc-r{
    background-color: brown;
    color: white;
}

.bc-tn{
    background-color: aqua;
}

.bc-ot{
    background-color: lime;
}


.bc-id{
    background-color: dimgray;
    color: white;

}

